<% layout("layouts/app") %>
<h1>Add Place</h1>
<form action="/places" method="POST">
    <div>
        <label for="title">Title: </label>
        <input type="text" name="place[title]" id="title">
    </div><br>
    <div>
        <label for="price">Price: </label>
        <input type="text" name="place[price]" id="price">
    </div><br>
    <div>
        <label for="description">Description: </label>
        <textarea name="place[description]" id="description" cols="30" rows="10"></textarea>
    </div><br>
    <div>
        <label for="location">Location: </label>
        <input type="text" name="place[location]" id="location">
    </div><br>
    <button type="submit">Save</button>
</form>