<% layout("layouts/app") %>
<h2 class="text-center mb-3 pb-3">Add Place</h2>
<div class="col-6 offset-3">
    <form action="/places" method="POST">
        <div>
            <label for="title" class="form-label">Title: </label>
            <input type="text" name="place[title]" id="title" class="form-control">
        </div><br>
        <div>
            <label for="price" class="form-label">Price: </label>
            <input type="text" name="place[price]" id="price" class="form-control">
        </div><br>
        <div>
            <label for="description" class="form-label">Description: </label>
            <textarea name="place[description]" id="description" cols="30" rows="10" class="form-control"></textarea>
        </div><br>
        <div>
            <label for="location" class="form-label">Location: </label>
            <input type="text" name="place[location]" id="location" class="form-control">
        </div><br>
        <div>
            <label for="image" class="form-label">Image URL: </label>
            <input type="text" name="place[image]" id="image" class="form-control">
        </div><br>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>