<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanBuzz: <%= place.title %></title>
</head>
<body>
    <h1><%= place.title %></h1>
    <h2><%= place.location %></h2>
    <a href="/places">Whole Places</a><br>
    <a href="/places/<%= place._id %>/edit">Edit Place</a>
</body>
</html>