<nav class="navbar navbar-expand-md sticky-top bg-body mb-5" data-bs-theme="dark">
    <div class="container-fluid"><a class="navbar-brand" href="/">UrbanBuzz</a><button class="navbar-toggler"
            data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/places">Places</a></li>
                <li class="nav-item"><a class="nav-link" href="/places/create">Add Place</a></li>
            </ul>
        </div>
    </div>
</nav>