<nav class="navbar navbar-expand-md sticky-top bg-body mb-5" data-bs-theme="dark">
    <div class="container"><a class="navbar-brand" href="/">UrbanBuzz</a><button class="navbar-toggler"
            data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav gap-0 gap-md-2 mx-auto mb-2 mb-md-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/places">Places</a></li>
                <li class="nav-item"><a class="nav-link" href="/places/create">Add Place</a></li>
            </ul>
            <ul class="navbar-nav gap-0 gap-md-2">
                <% if (!currentUser) { %>
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link mx-5" href="/logout" onclick="
                        event.preventDefault();
                        document.getElementById('logout-form').submit();
                        ">Logout</a>
                    <form action="/logout" method="POST" style="display: none;" id="logout-form"></form>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>